body{
    background-image: url("../image/bg.png");
    background-size: 100%;
}
.container {
    background-color: salmon;
    height: 600px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.option {
    margin: 0 20% 0 20%;
}
#start {
    margin: auto;
}
#start_over {
    margin: auto;
    visibility: hidden;
}